<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzj.car.dao.BookInfoDao">
    
    	<insert id="insert" parameterType="BookInfo">
    		INSERT INTO BOOK_INFO (BOOK_ID,BOOK_NAME,BOOK_TYPE,BOOK_NUM,AUTHOR,BOOK_PRICE,PRESS,STATE,COUNT) 
            VALUES(#{b.bookId},#{b.bookName},#{b.bookType},#{b.bookNum},#{b.author},
            #{b.bookPrice},#{b.press},#{b.state},#{b.count})
    	</insert>
    	<update id="update" parameterType="BookInfo">
    		UPDATE BOOK_INFO SET BOOK_NAME = #{b.bookName},
                     BOOK_TYPE = #{b.bookType},
                     BOOK_NUM = #{b.bookNum},
                     AUTHOR= #{b.author},
					 BOOK_PRICE = #{b.bookPrice},
                     PRESS = #{b.press},
                     STATE = #{b.state},
                     COUNT= #{b.count} 
                 WHERE BOOK_ID = #{b.bookId}
    	</update>
    	
    	<delete id="delete" parameterType="String">
    		DELETE FROM BOOK_INFO WHERE BOOK_ID = #{id}
    	</delete>
    	
    	<select id="queryById" parameterType="String" resultMap="bookInfoMap">
    		SELECT BOOK_ID,BOOK_NAME,BOOK_TYPE,BOOK_NUM,AUTHOR,BOOK_PRICE,PRESS,STATE,COUNT FROM BOOK_INFO WHERE BOOK_ID=#{id}
    	</select>
    	
    	<select id="query" resultMap="bookInfoMap">
    		SELECT BOOK_ID,BOOK_NAME,BOOK_TYPE,BOOK_NUM,AUTHOR,BOOK_PRICE,PRESS,STATE,COUNT FROM BOOK_INFO WHERE STATE=1 and COUNT>0
    	</select>
    	
    <resultMap id="bookInfoMap" type="com.xzj.car.entity.BookInfo">
	  <id column="BOOK_ID" property="bookId" />
	  <result column="BOOK_NAME" property="bookName"/>
	  <result column="BOOK_TYPE" property="bookType"/>
	  <result column="BOOK_NUM" property="bookNum"/>
	  <result column="AUTHOR" property="author"/>
	  <result column="BOOK_PRICE" property="bookPrice"/>
	  <result column="PRESS" property="press"/>
	  <result column="STATE" property="state"/>
	  <result column="COUNT" property="count"/>
	</resultMap>
</mapper>